/* ----------------------------------------------GENERAL----------------------------------------------- */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 735px;
}

.wrapper {
    font-family: "Red Hat text", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Red Hat text", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    padding: 13.5px 32.5px;
    background-color: #0D606F;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #15879b;
}

.button:active {
    background-color: #0a4049;
}

.button.button_arrow {
    position: relative;
    padding-left: 81px;
}

.button_arrow::before {
    content: url(../img/arrow.svg);
    position: absolute;
    top: 50%;
    transform: translate(0, -40%);
    left: 32px;
}

.title {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-transform: uppercase;
}

/*------------------------------------------------------ HEADER-------------------------------------------- */
.header {
    background-color: rgba(242, 120, 92, 0.7);
    position: absolute;
    width: 100%;
    min-width: 735px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 89px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 42px;
}

.nav__link {
    font-weight: 500;
    line-height: 21px;
    color: #ffffff;
}

.nav__link:hover {
    color: #0D606F;
}

.nav__link:active {
    color:#d6d6d6;
}

.header__button {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* -----------------------------------------------PREVIEW------------------------------------------------------ */

.preview {
    background-image: url(../img/preview-background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 765px;
    padding-top: 122px;
}

.preview__title {
    margin-bottom: 32px;
    margin-top: 0;
    max-width: 900px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.preview__text {
    margin-bottom: 46px;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.preview__form {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    max-width: 892px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.preview__input {
    flex: 1 0 auto;
    margin-left: 22px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    line-height: 29px;
    color:#F2785C;
}

.preview__input::placeholder {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.preview__input:focus {
    outline: none;
}

.preview__button {
    flex: 0 0 auto;
}

/* ---------------------------------------------------------STEPS-------------------------------------------------------------- */

.steps {
    padding-top: 80px;
}

.steps__container {
    padding: 0 25px;
}

.steps__title {
    margin-bottom: 40px;
    text-align: center;
}

.steps__row {
    display: flex;
}

.steps__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.34%;
}

.steps__item:nth-child(1) {
    align-items: flex-start;
}

.steps__item:nth-child(2) {
    align-items: center;
}

.steps__item:nth-child(3) {
    align-items: flex-end;
}

.steps__wrap {
    text-align: center;
}

.steps__icon {
    max-width: 100px;
    max-height: 100px;
}

.steps__text {
    margin-top: 26px;
    font-family: 'Aleo', serif;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

/* ------------------------------------------------DESTINATIONS--------------------------------------- */
.destinations {
    padding-top: 75px;
}

.destinations__container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.destinations__title {
    margin-bottom: 46px;
    text-align: center;
}

.destinations__row{
    position: relative;
    height: 800px;
    margin-bottom: 24px;
}
.destinations__slider {
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    justify-content: space-between;
    min-width: 2520px;
}

.destinations__photo {
    position: relative;
}

.destinations__img {
    border-radius: 16px;
}

.destinations__text {
    position: absolute;
    bottom: 45px;
    left: 15px;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.destinations__switch {
    text-align: center;
    margin-bottom: 35px;
}

.radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.radio__input {
    position: absolute;
    appearance: none;
}

.radio__box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.radio__input:checked + .radio__box {
    
    background-color: #F2785C;
}

/* ----------------------------------------------------STORIES------------------------------------------------------------------ */

.stories {
    padding-top: 80px;
}

.stories__background {
    position: relative;
}

.stories__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../img/stories-background.jpg);
    background-size: cover;
    background-position: bottom -61px left;
    opacity: 0.3;
}

.stories__container {
    position: relative;
    z-index: 2;
    padding-bottom: 41px;
}

.stories__title {
    margin-bottom: 40px;
    text-align: center;
}

.stories__articles {
    padding-top: 40px;
}

.article {
    display: flex;
    margin-bottom: 25px;
}

.article:last-child {
    margin-bottom: 35px;
}

.article__img {
    flex: 1 0 33.33%;
}

.article__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0D606F;
}

.article__content {
    flex: 1 1 auto;
    padding: 0 0 0 40px;
    color: #0D606F;
}

.article__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.article__text {
    font-family: 'Aleo', serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.article__link {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D606F;
}

.article__link:hover {
    color: #189bb3;
}

.article__link:active {
    color: #0c4a55;
}

.stories__button {
    text-align: center;
}

/* ------------------------------------------------------FOOTER--------------------------------------------------- */

.footer {
    background-image: url(../img/stories-background.jpg);
    background-position: bottom;
    background-size: cover;
    color: #ffffff;
}

.footer__container {
    display: flex;
    align-items: center;
    height: 61px;
}

.footer__copy {
    flex: 1 1 auto;
    text-align: right;
    padding-left: 100px;
    font-weight: 500;
    line-height: 21px;
}

.footer__links {
    flex: 0 1 470px;
    display: flex;
    justify-content: flex-end;
}

.footer__link {
    margin-right: 20px;
}

.footer__link:last-child {
    margin-right: 0;
}
.link {
    display: block;
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.link_inst {
    background-image: url(../img/footer-icons-inst.svg);
}

.link_vid {
    background-image: url(../img/footer-icons-video.svg);
}

.link_twit {
    background-image: url(../img/footer-icons-twitter.svg);
}